// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-color {
    color:#57AF4F;
}
a.main-color:hover {
    color:rgb(68, 138, 63);
}
.btn-rounded {
    border-radius: 10rem;
}
.btn-main-color {
    background: #57AF4F;
    color: white;
}
.btn-main-color:hover {
    background: rgb(68, 138, 63);
    color: white;
}
.bg-welcome {
    z-index: -100000;
    max-height: 100%;
}
.icon {
    height: 25px;
    width: 25px;
}
.icon-little {
    height: 15px;
    width: 15px;
}
textarea {
    border: none;
}
.main-part {
    min-height: 90vh;
}
.main-avatar {
    height: 70px;
    width: 70px;
    border-radius: 40px;
}
.avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link.active {
    border: none;
}
.nav-tabs .nav-link  {
    border: none;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border:none;
}