// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-color {
    color:#57AF4F;
}
a.main-color:hover {
    color:rgb(68, 138, 63);
}
.btn-rounded {
    border-radius: 10rem;
}
.btn-main-color {
    background: #57AF4F;
    color: white;
}
.btn-main-color:hover {
    background: rgb(68, 138, 63);
    color: white;
}
.bg-welcome {
    z-index: -100000;
    max-height: 100%;
}
.icon {
    height: 25px;
    width: 25px;
}